# Development Enviroment
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

JWT_SECRET=

EMAIL_USER=pichote@correo.com
EMAIL_PASS=llave de seguridad de google
#Esto no se toca:
EMAIL_HOST="Preguntenle a chatgpt que va aca o busquen en google que git no deja subirlo porque lo considera informacion sensible"
EMAIL_PORT=587
EMAIL_SECURE=false
