#Production Environment
# URI de conexión a PostgreSQL en un servidor remoto
DATABASE_URL=postgres://usuario:contraseña@host:puerto/nombre_base_de_datos

JWT_SECRET=

EMAIL_USER=pichote@correo.com
EMAIL_PASS=llave de seguridad de google
#Esto no se toca:
EMAIL_HOST="Preguntenle a chatgpt que va aca o busquen en google que git no deja subirlo porque lo considera informacion sensible"
EMAIL_PORT=587
EMAIL_SECURE=false
